Source: ros-lyrical-wuji-hand2-beta1-description
Section: misc
Priority: optional
Maintainer: "Wuji Technology" <support@wuji.tech>
Build-Depends: debhelper (>= 9.0.0), ros-lyrical-ament-cmake, ros-lyrical-ros-workspace
Homepage: https://wuji.tech
Standards-Version: 3.9.2

Package: ros-lyrical-wuji-hand2-beta1-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lyrical-ros-workspace
Description: Robot model description package for Wuji Hand 2 (Beta 1) with URDF, MJCF, and USD assets for simulation and ROS2 visualization.
